@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Somewhere in Nigeria<br />
    X-Mansion, +234Getat<br />
    <abbr title="Phone">P:</abbr>
    MM-XXIX
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">water@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">RoguesSquad@gmail.com</a>
</address>
